/* Breadcrumbs */

.breadcrumbs {
  list-style-type:none;
  padding: 0;
  margin: 0 0 1em 0;

	li { 
		display: inline;
    color: $grey;

		a {
      color: $grey;
      //text-decoration: underline;

      &:hover{
        color: $purple-dark;
      }
		}  

    &:after {
      content: "\e808"; 
      font-family: Fontello;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      margin: 0 .5em;
      border: 0;
    } 
    &:last-child:after{
      content: '';        
    }     
	}
}