.l-team {
  padding-top: 2em;
  background: $grey-ultra url(../images/team.jpg) top center no-repeat;
  background-size: cover;
  color: $white;

  // GRID FIX
  position: relative;
  z-index: -1;

  &:before {
    // width: 100%;
    // background: url(../images/grid.png) 0 repeat;
    // content: '';
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;
    // z-index: -1;
  }

  .l-region {
    text-align: center;
    padding: 4em 0;

    > div {
      @include breakpoint($tab, true){
        max-width: 85%;
        margin: 0 auto;
      }
      @include breakpoint($wide, true){
        max-width: 70%;
        margin: 0 auto;
      }
    }

    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 1em;
      line-height: 1;
      font-family: $proximanova;
    }
    h3 {
      font-family: $proximanovasoft;
      font-size: 2.4em; 
      line-height: 1.2;
      margin-bottom: .5em;
      font-weight: 400;
    }
    p {
      font-size: 1.2em;
    }

    a {
      color: $white;
      font-weight: 600;
      &:after{
        content: '\e803';
        font-family: Fontello;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: .5em;
      }
    }
  }
}
