.not-front .l-cta {
  //padding-top: 2em;
  //background: url(../images/bgr-cta.gif) top center repeat-x;

  //border-top: 2px solid $grey-light;
  
  background: #fafafa;
  -webkit-box-shadow: inset 0px 18px 10px -10px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    inset 0px 18px 10px -10px rgba(50, 50, 50, 0.15);
  box-shadow:         inset 0px 18px 10px -10px rgba(50, 50, 50, 0.15);

}

.l-region--cta {
  text-align: center;
  padding: 4em 0;

  @include breakpoint ($tab, true) {
    .field--name-body {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  p {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: .1em;
    line-height: 1;
    font-weight: normal;
  }
  h3 {
  }

  form {

    @include breakpoint(36em){
      max-width: 80%; 
    }   
    margin: 0 auto;

    div{ display: inline; }
    label { display: none; }
    .form-text {
      width: 60%;
    }
    .form-submit {      
      @include button($green, false);
      color: $purple-dark;
    }
  }

  @include breakpoint($desk, true){
   
    form {
      max-width: 50%;
      input.form-text {
        margin-top: -5px;
        padding: .85em 1em;
        height: 45px;
        margin-right: .5em;
        display: inline-block;
        //float: left;
      }
      input.form-submit {
        padding: .8em 1em 1em 1em;
        height: 44px;
        //float: left;
        display: inline-block;
        
      }
    }
    h2 {
      font-size: 2.2em;
    }
    h3 {
      font-size: 2.2em;
    }

  }
}